{% extends "base.html.twig" %}

{% block title %}Création d'une annonce
{% endblock %}

{# {% form_theme form 'ad/_collection.html.twig' %} #}
{% form_theme form 'jquery.collection.html.twig' %}

{% block body %}

    <h1 class="my-5">Créer une nouvelle annonce</h1>

    {{form_start(form)}}
    <div class="row">
        <div class="col">
            <div class="alert alert-light">
                <h2>Informations générales</h2>
                <hr>
                {{form_row(form.title)}}
                {{form_row(form.slug)}}
                {{form_row(form.price)}}
                {{form_row(form.rooms)}}
            </div>
            <div class="alert alert-light">
                <h2>Détails de l'annonce</h2>
                <hr>
                {{form_row(form.introduction)}}
                {{form_row(form.content)}}
            </div>
        </div>
        <div class="col">
            <div class="alert alert-light">
                <h2>Images de l'annonce</h2>
                <hr>
                {{form_row(form.coverImage)}}
                {{form_row(form.images)}}
            </div>
        </div>
    </div>
    <div class="alert alert-success clearfix">
        <h2 class="alert-heading">Sauvegarder mon annonce</h2>
        <p>Vous êtes sur le point de créer votre annonce. Nous sommes super fier de vous !</p>
        <button class="btn btn-primary float-right" type="submit">
            <i class="fas fa-check"></i>
            Créer la nouvelle annonce
        </button>
    </div>

    {{form_end(form)}}

{% endblock %}


{% block javascripts %}
    <script src="/build/jquery.collection.js"></script>

    <script type="text/javascript">
        $('.imgCollection').collection({up: '<a href="#">&#x25B2;</a>', down: '<a href="#">&#x25BC;</a>', add: '<a href="#">[ + ]</a>', remove: '<a href="#">[ - ]</a>', duplicate: '<a href="#">[ # ]</a>'});
    </script>
    {{encore_entry_script_tags("ad")}}
{% endblock %}
